// Place all the styles related to the RecommendedTrips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.medium-article-title {
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 1;
}

#recommended-trip-map {
  height: 558px;
  width: 100%;
}


@media (max-width: 767px) {
  .medium-article-title {
    font-size: 36px;
    line-height: 1.1;
  }
}